* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #141414;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}